<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Machine Learning as Service</title>

</head>
<body>
<form action = "http://localhost:5000/predict" method = "POST">
         <p>Sepal length <input type = "text" name = "sepal_length" /></p>
         <p>Sepal width <input type = "text" name = "sepal_width" /></p>
         <p>Petal length <input type = "text" name = "petal_length" /></p>
         <p>Petal width <input type ="text" name = "petal_width" /></p>
         <p><input type = "submit" value = "Predict Type" /></p>
      </form>
</body>
</html>
